<!DOCTYPE html>
<html lang="en">


<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Booklist Index</h1>

    <% for (let i = 0; i < books.length; ++i) { %>
        <div>
            <a href="/books/<%= books[i]._id %>">
                <%= books[i].title %>
            </a>
            <p>click title to see more</p>
            <form action="/books/<%= books[i]._id%>/?_method=DELETE" method="post">
                <input type="submit" value="Remove Book">
            </form>
        </div>
    <% } %>
</body>
</html>